



.chatBoxTop{
    width: 800px;
    height: 400px;
    overflow:scroll;
    scrollbar-width: thin;
    margin-top: 30px;
    padding-right: 30px;
    
}

.conversation {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .conversation:hover {
    background-color: rgb(245, 243, 243);
  }
  
  .conversationImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .conversationName {
    font-weight: 700;
  }
  
  @media screen and (max-width: 768px) {
    .conversationName {
      display: none;
    }
  }



  .message {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .messageTop{
      display: flex;
  }
  
  .messageImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .messageText{
      padding: 10px;
      border-radius: 20px;
      background-color: #1877f2;
      color: white;
      max-width: 300px;
  }

  .messageBottom{
      font-size: 12px;
      margin-top: -10px;
  }
  
  .message.own{
      align-items: flex-end;
  }
  
  .message.own .messageText{
      background-color: rgb(245, 241, 241);
      color: black;
  }

  .chatMessageInput {
  width: 80%;
  height: 90px;
  padding: 10px;
}
