

@import './css/Top.css';
@import './css/App.css';
@import './css//HeaderMenu.css';
@import './css/Home.css';
@import './css/Footer.css';
@import './css/Usam.css';
@import './css/Form.css';
@import './css/Adminprofile.css';
@import './css/AdminSideBar.css';
@import './css/TailorCrud.css';
@import './css/Dashboard.css';
@import './css/ProductPage.css';
@import './css/productForm.css';


body {
  margin: 0%;
  padding: 0%;  
}

button{
  border: none;
}
td{
  width: 50%;
}

.table>:not(caption)>*>* {
  padding: .5rem .5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
  width: 18%;
}
button{
  float: right;
}

/* 
.st0{fill:#0C519E;stroke:#000000;stroke-width:0.6;stroke-miterlimit:10;}
	.st1{fill:#4374B9;stroke:#000000;stroke-miterlimit:10;}
	.st2{fill:#020202;stroke:#FFFFFF;stroke-width:0.3;stroke-miterlimit:10;} */
  /* .st0{fill:#FF0037;stroke:#020202;stroke-width:0.3;stroke-miterlimit:10;} */
	/* .st1{fill:#F67F3B;} */
	/* .st2{fill:#151129;} */
	/* .st3{fill:#2917AD;} */
	/* .st4{fill:#F9F9F9;stroke:#000000;stroke-width:0.3;stroke-miterlimit:10;} */
	/* .st5{fill:#12056B;stroke:#000000;stroke-width:0.3;stroke-miterlimit:10;} */
	/* .st6{fill:#FF280B;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;} */