

@import './css/Top.css';
@import './css/App.css';
@import './css//HeaderMenu.css';
@import './css/Home.css';
@import './css/Footer.css';
@import './css/Usam.css';
@import './css/Form.css';
@import './css/Adminprofile.css';
@import './css/AdminSideBar.css';
@import './css/TailorCrud.css';
@import './css/Dashboard.css';
@import './css/ProductPage.css';
@import './css/productForm.css';
@import './css//svg.css';
@import './css//Messenger.css';

body {
  margin: 0%;
  padding: 0%;  
}

button{
  border: none;
}
td{
  width: 50%;
}

.table>:not(caption)>*>* {
  padding: .5rem .5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
  width: 16%;
}
button{
  float: right;
}



.cls{
  clear: both;
}




